INSTALL
Makefile
Makefile.in
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1
.deps
*.o
aclocal.m4
autom4te.cache
compile
*.service
xdg-desktop-portal-gtk
.dirstamp
xdg-desktop-portal-dbus.[ch]
/ABOUT-NLS
/po/*.gmo
/po/*.header
/po/*.pot
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/boldquot.sed
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sed
/po/remove-potcdate.sin
/po/stamp-po
/src/resources.c
/src/shell-dbus.[ch]
/testappchooser
/xdg-desktop-portal-*.tar.xz
/xdg-desktop-portal-*/
/xdg-desktop-portal-gtk.desktop
