name: Portal CI
on: [push, pull_request]
env:
  DEBIAN_FRONTEND: noninteractive

jobs:
  test:
    name: Ubuntu 22.04 build
    runs-on: ubuntu-latest
    container: ubuntu:22.04
    steps:
      - name: Install dependencies
        run: |
          sed -i '/deb-src/s/^# //' /etc/apt/sources.list
          apt-get update
          apt-get upgrade -y
          apt-get build-dep -y xdg-desktop-portal-gtk
          apt-get build-dep -y xdg-desktop-portal
          apt-get install -y git gsettings-desktop-schemas-dev libfuse3-dev libgnome-desktop-3-dev meson ninja-build

      # Build from git so we can test against the newest portals
      - name: Build xdg-desktop-portal dependency
        run: |
          git clone -b 1.18.0 https://github.com/flatpak/xdg-desktop-portal.git ./xdg-desktop-portal
          cd ./xdg-desktop-portal
          meson setup -Dsysconfdir=/etc -Dprefix=/usr -Dlibportal=disabled _build .
          meson compile -C _build
          meson install -C _build
          cd ..

      - uses: actions/checkout@v4

      - name: Configure
        run: meson setup -Dsysconfdir=/etc -Dprefix=/usr _build .

      - name: Build
        run: meson compile -C _build

      - name: Check
        run: meson test -C _build

      - name: Install
        run: meson install -C _build

      - name: Upload test logs
        uses: actions/upload-artifact@v4
        if: failure() || cancelled()
        with:
          name: test logs
          path: |
            _build/meson-logs/*
